/* *{
    border: 1px solid black;
} */
body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #666666;
    height: 100%;
}
.background-container--image1{
    background-image: url(./img/bg.jpg);
    min-height: 100%;
}
.background-container--image2{
    background-image: url(./img/bg2.jpg);
    min-height: 80%;
}
.background-container--image3{
    background-image: url(./img/bg3.jpg);
    min-height: 80%;

}
.background-container--image4{
    background-image: url(./img/bg4.jpg);
    min-height: 80%;

}
.background-container--image5{
    background-image: url(./img/bg1.jpg);
    min-height: 80%;

}

.background-container--image1,
.background-container--image2,
.background-container--image3,
.background-container--image4,
.background-container--image5{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* parallax efect */
    background-attachment: fixed; 
    opacity: 0.7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.header-container__heading--logo{
    width: 30%;
    margin: 1rem;
}

.header-container{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
.header-container__heading--big{
    background-color: black;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset purple;
    outline-offset: 1rem;
    text-transform: uppercase;
    line-height: 5rem;
    color: white;

}
.header-container__heading--small{
    background-color: black;
    padding: 0.7rem;
    border-radius: 0.7rem 0rem 0.7rem 0rem;
    outline: 0.4rem inset purple;
    outline-offset: 0.2rem;
    text-transform: capitalize;
    line-height: 5rem;
    color: white;
}
.section{
    text-align: center;
    padding: 3rem 5rem;
}
.section--light{
    background-color:#f1f1f1;
    color: #666666;
    line-height: 1.8rem;

}
.section--dark{
    background-color: #282e34;
    color: #fff;
    line-height: 1.8rem;


}

@media(max-width: 760px){
    .header-container{
        font-size: 2rem;
    }
    .header-container__heading--big{
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        outline: 0.4rem inset purple;
        outline-offset: 0.6rem;
    }
    .header-container__heading--small{
        padding: 0.4rem;
        border-top-left-radius: 0.3rem;
        outline: 0.4rem inset purple;
        outline-offset: 0.1rem;
        line-height: 2.4rem;
    }
    .section{
        padding:0.9rem;

    }

}
